[Unit]
Description=Timer for PostgreSQL Database Backup
Requires=postgres-backup.service

[Timer]
OnCalendar={{ postgres_backup_timer | default("daily") }}
Persistent=true

[Install]
WantedBy=timers.target
