[Unit]
Description=PostgreSQL Database Backup Pruning Service
After=docker.service
Wants=postgres-backup-prune.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pg-backup-prune.sh
{% if postgres_backup_prune_ping_url | length > 0 %}
ExecStartPost=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null {{ postgres_backup_prune_ping_url }}
{% endif %}
User=root
Group=root
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
