[Unit]
Description=PostgreSQL Database Backup Pruning Service
After=docker.service
Wants=postgres-backup-prune.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pg-backup-prune.sh
User=root
Group=root
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
