#!/bin/bash
# WAL-G Environment Variables
export WALG_S3_PREFIX="{{ postgres_walg_s3_prefix }}"
export AWS_ACCESS_KEY_ID="{{ postgres_walg_aws_access_key_id }}"
export AWS_SECRET_ACCESS_KEY="{{ postgres_walg_aws_secret_access_key }}"
export AWS_REGION="{{ postgres_walg_aws_region }}"
{% if postgres_walg_aws_endpoint != "" %}
export AWS_ENDPOINT="{{ postgres_walg_aws_endpoint }}"
{% endif %}

# PostgreSQL connection settings
export PGHOST="127.0.0.1"
export PGPORT="{{ postgres_port }}"
export PGUSER="postgres"
export PGPASSWORD="{{ postgres_root_password }}"
export PGDATABASE="postgres"

# Compression settings
export WALG_COMPRESSION_METHOD="{{ postgres_walg_compression_method }}"
export WALG_COMPRESSION_LEVEL="{{ postgres_walg_compression_level }}"
